body{
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title{
    color: #ffffff;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
}

  .error input {
    border: 2px solid red; 
    background-color: #ffffff; 
  }

.second-btn:hover,  .logIn-btn:hover{
    background-color: #007bff;
}

.second-btn {
    background-color: rgb(7, 139, 234);
}

.submit-btn {
    background-color: #6f42c1;
}

.logIn-btn {
    background-color: rgb(2, 115, 196);
}

.card {
    width: 500px; 
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15); /* translucent white */
    backdrop-filter: blur(15px); /* blur effect */
    -webkit-backdrop-filter: blur(15px); /* for Safari */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* more soft depth */
    margin: 50px ; 
    margin-left: 360px;
    height: 500px;
}

label {
    font-weight: 300;
    font-size: 14px;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: left;
}

.nameInput,
.passwordInput {
    width: 90%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.passwordInput{
    margin-bottom: 50px;
}

.nameInput:focus,
.passwordInput:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

button {
    display: block; /* each button on its own line */
    width: 95%;      /* adjust width if needed */
    margin: 20px auto 0 auto; /* center horizontally with spacing */
    padding: 10px 15px;
    background-color: #6f42c1;
    color: white;
    border: none;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6737c0;
}


.para-error{
    color : rgb(215, 9, 9);
    font-weight: 300;
}