.title{
    font-size: 50px;
}

  .error input {
    border: 2px solid red; 
    background-color: #ffffff; 
  }



.logIn{
    background-color: rgb(38, 165, 6);
}
.card {
    width: 300px; 
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.nameInput,
.lastNameInput {
    width: 100%; 
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.nameInput:focus,
.lastNameInput:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

button {
    padding: 10px 15px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.para-error{
    color : rgb(215, 9, 9);
    font-weight: 300;
}